@import url('~simpledotcss/simple.min.css');

* {
  margin: initial;
}
body {
  font-size: 0.9rem;
}

button {
  font-size: 0.9rem;
}
#header {
  background-color: #6200ee;
  font-size: 1.2rem;
  height: 4rem;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.add-new {
  align-items: center;
  background-color: #6200ee;
  color: rgb(202, 202, 202);
  display: flex;
  font-size: 1rem;
  height: 100%;
}
.add-new:hover {
  background-color: #3700b3;
  cursor: pointer;
  opacity: 0.9;
}
.close {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: auto;
  cursor: pointer;
}
.main-content {
  width: 90%;
  max-width: 800px;
  height: 100vh;
  margin: 5rem auto 0;
}
.todo-row {
  display: grid;
  grid-template-columns: 5fr 1fr 2fr 1.5fr 1.5fr;
  border-bottom: lightgray 1px solid;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0.5rem 0;
  align-items: center;
  position: relative;
}
.over-flow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.priority {
  text-align: center;
  margin-left: 16px;
}
.process-type {
  align-items: center;
  margin-left: 16px;
}
.process-type select {
  width: 100%;
  outline: none;
  border-radius: 50px;
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  padding: 0.4rem;
  color: white;
}
.round-btn {
  border-radius: 48px;
}
.round-btn:hover {
  cursor: pointer;
}
.edit {
  background-color: #018786;
}
.delete {
  background-color: #b00020;
}
.modal-wrapper {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 100;
}
.modal {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgb(61, 61, 61);
  border-radius: 10px;
  padding: 32px;
  font-size: 0.9rem;
}
.modal input {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}
.modal-todo-title-all {
  position: absolute;
  top: 2.5rem;
  z-index: 100;
  word-break: break-all;
  padding: 1rem;
  border-radius: 4px;
  background: rgb(202, 202, 202);
  color: rgba(0, 0, 0, 0.74);
}
.modal div:nth-child(2) {
  margin-top: 30px;
}
.input-row {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.input-row > textarea,
.input-row > select {
  width: 100%;
  margin-bottom: 16px;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.btn-wrapper button {
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.btn-wrapper button:disabled {
  border: 1px solid darkgray;
  background-color: darkgray;
}
.btn-wrapper .cancel-btn {
  background-color: #8b8b8b;
  margin-right: 3rem;
}
.btn-wrapper .delete-submit {
  background-color: #b00020;
}
