@import url('~simpledotcss/simple.min.css');

* {
  margin: initial;
}
body {
  font-size: 1rem;
}

#header {
  align-items: center;
  background-color: #6200ee;
  display: flex;
  font-size: 1.2rem;
  height: 4rem;
  justify-content: space-between;
  padding-left: 1rem;
}

.add-new {
  align-items: center;
  background-color: #6200ee;
  color: rgb(202, 202, 202);
  display: flex;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
}
.add-new:hover {
  background-color: #3700b3;
  cursor: pointer;
  opacity: 0.9;
}
.close {
  height: 1.6rem;
  width: 1.6rem;
  margin-left: auto;
  cursor: pointer;
}
.main-content {
  width: 90%;
  max-width: 800px;
  height: 100vh;
  margin: 90px auto 0;
}
.todo-row {
  display: flex;
  flex-direction: row;
  border-bottom: lightgray 1px solid;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 5px;
}
.title-wrapper {
  width: 250px;
}
.over-flow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.priority {
  width: 50px;
  margin-left: 40px;
}
.is-done {
  margin-left: 90px;
}
.is-done select {
  outline: none;
  border-radius: 50px;
  font-size: 0.95rem;
  width: 5rem;
}
.edit {
  margin-left: 30px;
  width: 50px;
  height: 30px;
  color: white;
  line-height: 30px;
}
.delete {
  margin-left: 30px;
  width: 50px;
  height: 30px;
  color: white;
  line-height: 30px;
  cursor: pointer;
}
.delete-btn {
  background-color: #b00020;
}
.edit-btn {
  background-color: #018786;
}
.round-btn {
  border-radius: 50px;
  text-align: center;
}
.round-btn:hover {
  cursor: pointer;
}
.add-new-area {
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  z-index: 100;
}
.input-area {
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.input-area div {
  height: 40px;
}
.input-area input {
  height: 20px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
}
#priorityType {
  height: 30px;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 7px;
}
.input-area div:nth-child(2) {
  margin-top: 30px;
}
.input-row {
  width: 100%;
  display: flex;
}
.input-row > label {
  display: inline-flex;
  width: 25%;
}
.input-row > input,
.input-row > select {
  width: 75%;
}
.btn-wrapper {
  display: flex;
  justify-content: flex-end;
}
.btn-wrapper button {
  height: 35px;
  width: 70px;
  background-color: dodgerblue;
  color: white;
  border: 1px solid lightblue;
  border-radius: 10px;
  cursor: pointer;
}
.btn-wrapper button:disabled {
  border: 1px solid darkgray;
  background-color: darkgray;
}
.sort-conditions {
  float: right;
  margin-right: 20%;
  margin-top: 30px;
}
.sort-conditions select {
  padding: 5px;
  height: 30px;
  margin-left: 5px;
  width: 150px;
  outline: none;
  border: darkgray 1px solid;
  border-radius: 5px;
}
button .submit {
  margin-left: auto;
}
